@charset "UTF-8";
@media screen and (max-width: 968px) {
    *{
        transition: 0.5s;
    }
    span#burguer-nav{
        display: block;
    }
    nav#itens-nav{
        display: none;
    }
    div#sobreContainer{
        flex-direction: column;
        max-width: 220px;
        height: 400px;
    }
    div#sobreContainer img{width: 70%;}
    div#sobreBox{
        margin-bottom: 20px;
        width: 400px;
    }
    /* section#info{display: block;}
    div#container-hora{display: block;}
    section#mvv{display: block;} */
}

@media screen and (max-width:768px) {
    
}

/* ... */