@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root{
     /* modal perfil*/
     --amarelo-hover: #c77802;
     --close-hover: #ffffffb7;

     /*botao login*/
     --botao-login: #4CAF50;
     --botao-login-hover: #438d47;

    --cinza: #eeeeee;
    --vermelho:#B31E22;
    --amarelo:#E99E1E;
    --marrom:#C0925E;
    --preto1:#3A3A3A;
    --preto2:#272727;
    --cor-branco:#ffffff;
    --cor-preto: #000000;
    --fonte-text: arial, Helvetica, sans-serif;
    --fonte-padrao: "Actor",sans-serif;
    --fonte-titulo: "Josefin Sans", sans-serif; 
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);

}

body{
    background-color: var(--preto1);
    color: var(--cor-branco);
}

/* nav */
nav#navbar{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--preto2);

}
nav#navbar a{
    text-decoration: none;
    color: var(--cor-branco);
}
menu#menu a{
    position: relative;
    transition: color 0.3s ease;
}
menu#menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--amarelo);
    transition: width 0.3s ease;
}
menu#menu a:hover::after {width: 100%; }
menu#menu a:hover {color: var(--amarelo);}
menu#menu ul{
    list-style: none;
    display: flex;
}
menu#menu li{
    padding: 10px;
    margin-left: 10px;
}
span#burguer{
    cursor: pointer;
    display: none;
}
img#logo-yaki{width: 48px;}
img#logo-yaki:hover{filter: grayscale(40%);}
span#user-ativo{
    position: relative;
    font-size: 30px;
    cursor: pointer;
    margin-left: 10px;
    display: inline-block; /* Garante que o ícone fique ao lado dos outros itens */
    align-self: center; /* Garante que o ícone fique alinhado verticalmente */
    color: var(--cor-branco);
}
div#user-perfil {
    position: absolute;
    top: 50px; /* Ajuste conforme necessário */
    right: 10px;
    background-color: var(--cor-branco);
    border-radius: 5px;
    z-index: 100;
    padding: 10px;
}
div#user-perfil ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
div#user-perfil ul li {
    padding: 5px 10px;
}
div#user-perfil ul li a {
    text-decoration: none;
    color: var(--preto2);
}
li#email-usuario{color: var(--amarelo);}
/* Estilos para o modal */
.modal {
    display: none; /* O modal começa escondido */
    position: fixed;
    z-index: 1; /* Fica sobre outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
}

.modal-content {
    background-color: var(--preto1);
    padding: 20px;
    margin: 10% auto;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}
.modal-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
.modal-content input{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px 0 0 5px;
    color: var(--cor-branco);
    font-size: 16px;
    background-color: var(--preto2);
}
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.input-container button {
    background-color: var(--amarelo); /* Cor vibrante para o botão */
    color: #fff;
    border: none;
    padding: 12px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
.input-container button:hover,
button#but-perfil-salvar:hover {background-color: var(--amarelo-hover); }
.close {
    color: var(--cor-branco);
    font-size: 30px;
    font-weight: bold;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: var(--amarelo-hover); 
    text-decoration: none;
}
button#but-perfil-salvar{
    background-color: var(--amarelo);
    padding: 10px;
    color: var(--cor-branco);
    border: none;
    cursor: pointer;
}
span#user-ativo{
    display: none;/*quando estiver logado tira o login e cadastro e aparece o icone no lugar*/
}
main#pedido{
    background-color: var(--cor-fundo);
    flex-direction: column;
    text-align: center; /* Centraliza o texto dentro do body */
    margin: auto;
}
main#pedido h1{
    margin: 10px 0;
}
#pedido-lista {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));  
    gap: 20px;  
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.pedido-modal .status-pedido{
    color: var(--amarelo);
}

.pedido-card{
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.pedido-card h3 {
    font-size: 20px;
    color: var(--cor-preto);
}

.pedido-card p,
.pedido-card ul li {
    font-size: 16px;
    color: var(--cor-preto);
    margin-bottom: 8px;
    font-family: var(--fonte-text);
}
.pedido-modal{color: var(--cor-preto);}
.pedido-modal ul{list-style: none;}
#pedido-lista-nao-logado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Organiza o texto e o botão em coluna */
    text-align: center; /* Centraliza o texto */
    color: var(--cor-preto);
    background-color: var(--cor-branco);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o elemento exatamente */
    width: 96%;
}
#pedido-lista-nao-logado button{
    padding: 8px 15px;
    background-color: var(--botao-login);
    color: var(--cor-branco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Adicionando um estilo para centralizar o conteúdo */

@media screen and (max-width:768px) {
    *{
        transition: 0.5s;
    }
    div#logo{
        text-align: center; 
    }
    span#burguer{
        display: block;
        color: var(--cor-branco);
        text-align: center;
        padding: 8px;
        cursor: pointer;
    }
    span#burguer:hover{
        background-color: var(--preto1);
        transition: 0.6s;
    }
    nav#navbar{
        justify-content: center;
        display: block;
        padding: 0;
    }
    nav#navbar a::after {
        width: 0; 
        transition: none;}
    nav#navbar a:hover::after {width: 0;}
    menu#menu{display: none;}
    menu#menu ul{list-style-type: none;}
    menu#menu a{
        display: block;
        padding: 10px;
        text-decoration: none;
        background-color: var(--preto1);
        color: var(--cor-branco);
        text-align: center;
        border-top: 1px solid var(--cor-preto);
    }
    menu#menu a:hover{
        background-color: var(--preto2);
        transition: 0.6s;
    }
    nav#navbar li{
        padding: 0;
        margin-left: 0;
    }
    nav#navbar ul{
        display: flex;
        flex-direction: column;
    }
}