@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root{
    /* modal perfil*/
    --amarelo-hover: #c77802;
    --close-hover: #ffffffb7;

    --vermelho:#B31E22;
    --amarelo:#E99E1E;
    --marrom:#C0925E;
    --preto1:#3A3A3A;
    --preto2:#272727;
    --branco-botao: #ffffff;
    --cor-branco:#ffffff;
    --cor-preto: #000000;
    --fonte-padrao: "Actor",sans-serif;
    --fonte-titulo: "Josefin Sans", sans-serif; 
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--preto2);
    color: var(--cor-branco);
    font-family: var(--fonte-padrao);
}

/* nav */
nav#navbar{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--preto2);

}
nav#navbar a{
    text-decoration: none;
    color: var(--cor-branco);
}
menu#menu a{
    position: relative;
    transition: color 0.3s ease;
}
menu#menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--amarelo);
    transition: width 0.3s ease;
}
menu#menu a:hover::after {width: 100%; }
menu#menu a:hover {color: var(--amarelo);}
menu#menu ul{
    list-style: none;
    display: flex;
}
menu#menu li{
    padding: 10px;
    margin-left: 10px;
}
span#burguer{
    cursor: pointer;
    display: none;
}
img#logo-yaki{width: 48px;}
img#logo-yaki:hover{filter: grayscale(40%);}
span#user-ativo{
    position: relative;
    top: 4px;
    font-size: 30px;
    cursor: pointer;
    margin-left: 10px;
}
div#user-perfil {
    position: absolute;
    top: 50px; /* Ajuste conforme necessário */
    right: 10px;
    background-color: var(--cor-branco);
    border-radius: 5px;
    z-index: 100;
    padding: 10px;
}
div#user-perfil ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
div#user-perfil ul li {
    padding: 5px 10px;
}
div#user-perfil ul li a {
    text-decoration: none;
    color: var(--preto2);
}
li#email-usuario{color: var(--amarelo);}
/* Estilos para o modal */
.modal {
    display: none; /* O modal começa escondido */
    position: fixed;
    z-index: 1; /* Fica sobre outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
}

.modal-content {
    background-color: var(--preto1);
    padding: 20px;
    margin: 10% auto;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}
.modal-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
.modal-content input{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px 0 0 5px;
    color: var(--cor-branco);
    font-size: 16px;
    background-color: var(--preto2);
}
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.input-container button {
    background-color: var(--amarelo); /* Cor vibrante para o botão */
    color: #fff;
    border: none;
    padding: 12px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
.input-container button:hover,
button#but-perfil-salvar:hover {background-color: var(--amarelo-hover); }
.close {
    color: var(--cor-branco);
    font-size: 30px;
    font-weight: bold;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: var(--amarelo-hover); 
    text-decoration: none;
}
button#but-perfil-salvar{
    background-color: var(--amarelo);
    padding: 10px;
    color: var(--cor-branco);
    border: none;
    cursor: pointer;
}
span#user-ativo{
    display: none;/*quando estiver logado tira o login e cadastro e aparece o icone no lugar*/
}

/* Início - título e o img de fundo */
div#inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../imgs/comida4.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
div#inicio h1{
    font-size: 13vw;
    font-weight: bolder;
    color: var(--amarelo);
}

/* Pedidos */
article#c1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--preto2);
    padding-top: 50px;
}
div#pedido{
    background-color: var(--preto1);
    max-width: 280px;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 60px;
    text-align: center;
}
div#pedido p{
    font-size: 1.4em;
    text-align: justify;
    color: var(--cor-branco);
    margin-bottom: 20px;
}
div#pedido a{
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: var(--cor-branco);
}
a#botao-retirada{background-color: var(--marrom);}
a#botao-delivery{background-color: var(--vermelho);}
a#botao-retirada:hover,
a#botao-delivery:hover{
    filter: opacity(70%);
    transition: 0.5s;
}
#icone-opcoes-pedido{
    background-color: var(--cor-branco);
    border-radius: 50%;
    color: #000000;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 40px;
}

/* Cardápio - subtítulo, img de fundo, e o botão para o cardápio */
article#cardapio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    background: url(../imgs/comida3.png) no-repeat center;
    background-size: cover;
    margin-bottom: 80px;
    height: 100vh;
    background-attachment: fixed;
}
article#cardapio a{
    text-decoration: none;
    color: var(--amarelo); 
    font-size: 1.2em;  
    font-weight: 600; 
}
a#botao-cardapio{
    background-color: var(--preto1);
    border: none;
    border-radius: 4px;
    padding: 15px 25px;
}
a#botao-cardapio:hover{
    background-color: var(--preto2);
    transition: 0.5;
    font-size: 1.3em;
}
article#cardapio h2{
    color: var(--amarelo);
    text-align: center;
    padding: 20px;
    font-size: 8vw;
}

/* Sobre - texto de um lado e img do outro*/
section#c2{
    display: flex;
    justify-content: center;
    align-items: center;
}
div#sobreContainer{
    display: flex;
    flex-direction: row;
    background-color: var(--preto1);
    width: 904px;
    margin-bottom: 60px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding-inline: 4rem;
    padding-block: 2rem;
}
div#sobreBox{
    display: flex;
    flex-direction: column;
    width: 40%;
}
div#sobreBox h2{
    align-self: center;
    justify-content: flex-start;
    font-size: 24px;
    color: var(--amarelo);
    margin-bottom: 20px;
}
div#sobreContainer img{
    width: 50%;
    height: 80%;
    border-radius: 8px;
}
div#sobreBox p{
    text-align: justify;
    font-size: 1.2em;
}

/* Missão, Visão e Valores */
section#mvv{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-bottom: 60px;
    background-color: var(--preto1);
}
section#mvv h2{
    margin: 10px 0;
    color: var(--amarelo);
    text-align: center;
}
div.mvv-col3 p{
    text-align: justify;
    margin: 10px;
}
section#mvv li{
    margin: 0 10px;
}
div.mvv-col1,
div.mvv-col2,
div.mvv-col3{
    width: 400px;
}
div.mvv-col1 p,
div.mvv-col2 p{
    text-align: center;
    margin: 10px;
}

/* Contato - formulário que manda no email */
section#c3{
    display: flex;
    justify-content: center;
    align-items: center;
}
div#contato{
    background-color: var(--preto1);
    margin-bottom: 60px;
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
div#contato h2{
    color: var(--amarelo);
}
div#contato input, div#contato textarea{
    margin-top: 10px;
    padding: 5px;
    width: 235px;
}
div#contato textarea{width: 237px;}
div#contato #enviar{
    width: 249px;
    cursor: pointer;
    background-color: var(--cor-branco);
    border: 0;
    border-radius: 2px;
}
div#contato #enviar:hover{
    filter: opacity(70%);
    transform: 0.5s;
}
div textarea{resize: none;}

/*  Endereço, Horário e Número do WhatsApp */
section#info{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    padding: 10px;
}
section#info h2,
section#info hr{margin: 10px 0 10px 0;}
div.info-col1,
div.info-col2,
div.info-col3{
    width: 400px;
}
div.info-col3 img{
    width: 30px;
    background-color: var(--cor-preto);
    margin-top: 10px;
    border-radius: 10px;
}
div.hora1,
div.hora2{
    flex: 1; 
    padding: 5px; 
}

/* Mapa */
section#mapa{
    background-color: #ffffff;
    flex-direction: column;
    text-align: center;
}
iframe#endereco-mapa{
    margin: 10px 0;
    width: 70%;
}
#carrinho {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--amarelo);
    padding: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
}

#carrinho span {
    font-size: 30px;
    color: var(--cor-branco);
}

/* Rodapé */
footer{
    background-color: var(--preto2);
    height: 15vh;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
footer div#logos{
    display: flex;
}
footer a{margin: 0 5px;}
img#logo-insta:hover,
img#logo-whats:hover{
    background-color: var(--cor-preto);
    border-radius: 10px;
}
footer p{
    text-align: center;
    font-family: var(--fonte-padrao);
    padding: 10px;
    color: var(--cor-branco);
}
footer img{
    width: 30px;
}
@media screen and (max-width:768px) {
    *{
        transition: 0.5s;
    }
    div#logo{
        text-align: center; 
    }
    span#burguer{
        display: block;
        color: var(--cor-branco);
        text-align: center;
        padding: 8px;
        cursor: pointer;
    }
    span#burguer:hover{
        background-color: var(--preto1);
        transition: 0.6s;
    }
    nav#navbar{
        justify-content: center;
        display: block;
        padding: 0;
    }
    nav#navbar a::after {
        width: 0; 
        transition: none;}
    nav#navbar a:hover::after {width: 0;}
    menu#menu{display: none;}
    menu#menu ul{list-style-type: none;}
    menu#menu a{
        display: block;
        padding: 10px;
        text-decoration: none;
        background-color: var(--preto1);
        color: var(--cor-branco);
        text-align: center;
        border-top: 1px solid var(--cor-preto);
    }
    menu#menu a:hover{
        background-color: var(--preto2);
        transition: 0.6s;
    }
    nav#navbar li{
        padding: 0;
        margin-left: 0;
    }
    nav#navbar ul{
        display: flex;
        flex-direction: column;
    }
    div#inicio h1{margin-bottom: 100px;}

    div#sobreContainer{
        flex-direction: column;
        padding-inline: 0;
        padding-block: 0;
    }
    div#sobreBox h2{padding: 10px;}
    div#sobreBox p{
        padding: 0 20px;
        text-align: center;
    }
    div#sobreContainer img{
        width: 100%;
        border-radius: 0;
    }
    div#sobreBox{
        margin-bottom: 20px;
        width: 100%;
    }
    div#container-hora{display: block;}
    section#mvv{
        display: flex;
        flex-direction: column;
    }
    section#info{
        display: flex;
        flex-direction: column;
    }
    div.mvv-col1,
    div.mvv-col2,
    div.mvv-col3,
    div.info-col1,
    div.info-col2,
    div.info-col3{
    width: auto;
    }
    iframe#endereco-mapa{width: 95%;}
}